$colorFondoApp: #0b122b;
$text-color: #f8f9fa;
$background-color: #861b1b;
$hover-background-color: #0cabab;


//tipos de letras 

$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-lato: 'Lato', sans-serif;
$font-Times-New-Roman: 'Times New Roman', sans-serif;


// tamaños 

$font-size-default: 35px;


//colores para los textos 
$font-color: #ff6a00;//naranja
$colorTexto: #ffffff;//blanco

