#buscarPeliculas {
  background-color: #861b1b;
  color: #f8f9fa;
  border: none;
  padding: 8px 16px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}
#buscarPeliculas:hover {
  color: #f8f9fa;
  background-color: #0cabab;
  animation: translate 0.6s ease;
  transform: scale(1.05) translateX(10px);
}
@keyframes translate {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

#keysss {
  background-color: #f8f9fa;
  color: #0b122b;
}